<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Yoked</title>
    <link rel="stylesheet" href="~/css/Index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div style="display:flex; justify-content: center;">
        <div style="display:flex; flex-direction: column ; justify-content: center; text-align: center;">
            <div id="app-title">yoked</div>
            <input class="index-input" placeholder="Username">
            <input class="index-input" placeholder="Password">
            <form method="get" action="">
                <input class="index-btn" type="submit" value="Login" />
            </form>
            <form method="get" action="/Index/CreateUser/">
                <input class="index-btn" type="submit" value="Sign Up" />
            </form>
        </div>
    </div>
    </body>
</html>