<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Yoked</title>
    <link rel="stylesheet" href="../../wwwroot/css/index.css">
  </head>
  <body>
    <div style="display:flex; justify-content: center;">
        <div style="display:flex; flex-direction: column ; justify-content: center; text-align: center;">
            <div id="app-title">yoked</div>
            <input>
            <input>
            <button>Login</button>
        </div>  
    </div>
  </body>
</html>